{% extends "task_app/base.html" %}
{% load static %}

{% block connect_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}
{% block content %}
    <div>
        <section class="filter-panel">
                <form method="get">
                    <h1>Search Tasks</h1>
                    {{ form.status.label_tag }}
                    <p>{{ form.status }}</p>
                    <input type="submit" class="filter-set-btn">
                </form>
        </section>

        <section>
                
            {% for task in tasks %}

                <section class="task">

                    <h1>{{ task.task_name }}</h1>
                    <h4>{{ task.description }}</h4>
                    <div><a href="{% url 'task_app:task_detail' task.pk %}">See more details...</a></div>
                    
                </section>
            {% endfor %}
            
        </section>
    </div>
    
    
{% endblock content %}