
{% extends "task_app/base.html" %}
{% load static %}
{% block connect_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}
{% block content %}
    <section class="task-details">

        <h1>{{ task.task_name }}</h1>
        <h3>{{ task.description }}</h3>
        <hr>
        <h2> Термін виконання </h2>
        <p>з {{ task.date_start }}</p>
        <p>до {{ task.date_finished }}</p>
        <a href="/">back to list</a>
        <a href="{% url 'task_app:task_update' task.pk %}">edit the task</a>
    </section>
{% endblock content %}