body{
    
    background-color: grey;
    font-size: 30px;
}
.task{
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    background-color: #f4f6fb;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    color:#7a7e80
}
.add-task-form{
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #f4f6fb;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    color:#7a7e80
}

.task-details{
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    background-color: #f4f6fb;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    color:#7a7e80
}

.filter-panel{
    border-radius: 1px;
    padding: 25px;
    margin: 5px;
    background-color: #f4f6fb;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    color:#7a7e80;
    height: 100%;
    display: grid;
}

.task-list-panel{
    border-radius: 1px;
    padding: 25px;
    margin: 5px;
    background-color: #f4f6fb;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    color:#7a7e80;
    height: 100%;
    display: flex;
}

.task-lisr-screen{
    display: block;
    

}